.reset {
  margin: 0;
  padding: 0;
}

.deco(@color) {
  position: relative;
  
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 4px;
    border-radius: 4px;
    background-color: @color;
  }
    
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 65px;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background-color: @color;
  }
}

.radial(@color) {
  background-color: @color;
  background-image: radial-gradient(circle, rgb(107,160,6) 0%, rgb(0,144,42) 100%);
}

.text-gradient {
  background-image: linear-gradient(to top, rgb(107,160,6) 0%, rgb(107,160,6) 30%, rgb(0,144,42) 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
