.brands {
  padding-top: 55px;
  padding-left: 30px;
  padding-right: 30px;
  
  h2 {
    .deco(@green, -6px);
    letter-spacing: 3px;
    padding-bottom: 5px;
  }
}

.brands__list {
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  
  li {
    width: 16.6%;
    margin-bottom: 15px;
  }
}
