.calc {
  width: 100%;
  min-height: 80px;
  padding: 10px;
  margin-bottom: 217px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 1px;
  border-radius: 40px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 16px 39.56px 3.44px rgba(35, 38, 50, 0.1);
}

.calc__cloud {
  position: absolute;
  left: 0;
  top: -159%;
  max-width: 302px;
  margin: 0;
  padding: 27px;
  border-radius: 30px;
  background-color: @green;
  background-image: linear-gradient(to top, rgb(19,147,36) 0%, rgb(0,144,42) 100%);
  box-shadow: 0px 11px 39.56px 3.44px rgba(35, 38, 50, 0.1);
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  
  &::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 32px;
    width: 15px;
    height: 15px;
    background-color: #129324;
    transform: rotate(45deg);
    z-index: -1;
  }
}

.calc__icon {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  .radial(@green);
}

.calc__input {
  width: 230px;
  height: 60px;
  padding: 0 30px;
  color: #000;
  font-size: 12px;
  font-weight: 700;
  border: none;
  background-color: rgb(250, 250, 250);
  box-shadow: inset 0px 0px 6.65px 0.35px rgba(133, 133, 133, 0.13);
  
  &--round {
    border-radius: 30px;
  }
  
  &--height {
    width: 95px;
    border-radius: 30px 4px 4px 30px;
    padding-right: 18px;
  }
  
  &--width {
    width: 90px;
    border-radius: 4px;
    padding: 0 18px;
  }
  
  &--depth {
    width: 102px;
    border-radius: 4px 30px 30px 4px;
    padding-left: 18px;
  }
  
  &--weight {
    width: 80px;
  }
  
  &:focus + .calc__label {
    display: none;
  }
}

.calc__btn {
  width: 170px;
  height: 60px;
  padding-top: 3px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  border-radius: 30px;
  background-color: rgb(49, 49, 43);
  transition: ease-out 0.3s;
  
  &:hover,
  &:active {
    background-color: #000;
    transition: ease-out 0.3s;
  }
}

.calc__field {
  position: relative;
}

.calc__label {
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  color: #000;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  text-align: center;
  opacity: 0.35;
  
  span {
    display: block;
    color: #acacac;
  }
  
  &--left {
    left: 30px;
    transform: none;
  }
}

.calc__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc__divider {
  width: 20px;
  text-align: center;
  font-size: 13px;
  color: #000;
  opacity: 0.7;
}
