.menu__wrap {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #1d1d1b;
  z-index: 15;
  display: none;
  
  &::after {
//    display: block;
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 70px;
    bottom: 0;
    background-color: rgb(29, 29, 27); 
    z-index: -1;
    opacity: 0.8;
  }
}

.menu__list {
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  
  li {
    margin-right: 60px;
  }
}

.menu__link {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  
  &:hover,
  &:active,
  &--active {
    color: @yellow;
  }
}

.menu__btn {
  height: 65px;
  background-color: transparent;
  padding-left: 30px;
  font-size: 12px;
  font-weight: 700;
  color: #1d1d1b;
  letter-spacing: 1px;
  opacity: 0.5;
  text-transform: uppercase;
  
  &:hover,
  &:active {
    opacity: 1;
    transition: ease-out 0.3s;
  }
}

.menu--opened {
  .menu__wrap {
    display: block;
  }
}
